transformers
transformers[sentencepiece]
datasets~=2.18.0
sacrebleu
rouge_score
py7zr
pandas~=2.0.3
nltk
tqdm~=4.66.2
PyYAML~=6.0.1
matplotlib
selectolax~=0.3.21
httpx~=0.27.0
notebook
torch==2.2.0
torchvision==2.2.0
torchaudio==0.17.0
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi~=0.110.0
uvicorn~=0.29.0
Jinja2==3.1.2
starlette~=0.36.3
setuptools~=68.2.0
# -e .
